<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guet.user">

    <application>
        <activity
            android:name=".about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".feedback.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".msg.MsgActivity"
            android:exported="false" />
        <activity
            android:name=".property.PropertyActivity"
            android:exported="false" />
        <activity
            android:name=".bill.BillActivity"
            android:exported="false" />
        <activity
            android:name=".complaint.ComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".repair.RepairActivity"
            android:exported="false" />
        <activity
            android:name=".trade.TradeActivity"
            android:exported="false" />
        <activity
            android:name=".regist.RegistActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AttentionActivity" />
    </application>

</manifest>